#!/bin/bash
# user is equal to parameter one or the first argument when you actually run the script
user=$1

if [ $# -ne 1 ];
  then
    echo "Provide CN"
    exit 1;
fi
    
openssl genrsa -out certs/${user}.key 2048
cat ssl.cnf | sed 's/{{ CN }}/'${user}'/'> ssl2.cnf
openssl req -batch -config ssl2.cnf -new -nodes -out certs/${user}.csr -key certs/${user}.key
openssl ca -batch -config ssl2.cnf -keyfile private/{{ ca_name }}_ca_cert.key -cert {{ ca_name }}_ca_cert.crt -out certs/${user}.crt -outdir certs -infiles certs/${user}.csr
cat certs/${user}.crt certs/${user}.key > pems/${user}.pem
mv ssl2.cnf config/${user}-ssl.cnf
